<h1><%= @conversation.title %></h1>

<p>Create a new message!</p>

<%= form_for([@conversation, @message], :html => {:multipart => true}) do |f| %>
<% if @message.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@message.errors.count, "error") %> prohibited
      this message from being saved:</h2>
    <ul>
    <% @message.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
  	<%= f.label :picture %><br>
  	<%= f.file_field :picture %>
  </p>

  <p>
    <%= f.label :remote_picture_url, "or image URL" %>
    <%= f.text_field :remote_picture_url %>
  </p>

  <p>
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %> 

<% @conversation.messages.each do |message| %>
	<%= image_tag message.picture_url(:thumb).to_s %>
	<%= message.comment %>
	<br>
<% end %>