<!DOCTYPE html>
<html>
<head>
  <title>PictureConvo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>

    <div class="left">
        <li><h2>PictureConvo</h2></li>
        <li><%= link_to 'Home', root_path %></li>
    </div>

      

    <div class="right">
      <% if session[:user_id] %>
      <li> <%= link_to 'Logout', logout_path, method: :delete %></li>
      <% else %>
      <li><%= link_to 'Login', login_path %></li>
      <li> <%= link_to 'Signup', signup_path %></li>
      <% end %>
  </div>
  </nav>

<div class="container">
<%= yield %>
</div>

</body>
</html>
